<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
  {% block links %} {% endblock %}
  <title>Статья из YouTube-видео</title>
</head>
<body spellcheck=false>
  {% block header %} {% endblock %}
  <div class="page">
    {% block content %} {% endblock %}
  </div>
  {% block footer %} {% endblock %}
</body>
</html>
