{% extends "base.html" %}

{% block links %}
  <script defer src="{{ url_for('static', path='/js/getArticle.js') }}" type="module"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block header %}
  {% include "content/header.html" %}
{% endblock %}

{% block content %}
  {% include "content/main_hero.html" %}
  {% include "content/article.html" %}
{% endblock %}

{% block footer %}
  {% include "content/footer.html" %}
{% endblock %}
